<div style="padding: 30px">
  <p-table [value]="orders" selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="fill_form_order()">
    <ng-template pTemplate="caption">
      <p-button icon="pi pi-plus" (click)="show_form_orders = true"></p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Proveedor</th>
        <th>Empleado</th>
        <th>Número de Pedido</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr [pSelectableRow]="order">
        <td>{{order.id}}</td>
        <td>{{order.vendor_id}}</td>
        <td>{{order.employee_id}}</td>
        <td>{{order.order_number}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Datos del Pedido" [(visible)]="show_form_orders" [position]="'top'" [modal]="true">
  <form style="text-align: center" [formGroup]="form_order">
    <div style="padding: 10px">
      <input formControlName="vendor_id" type="text" placeholder="Proveedor" pInputText>
    </div>
    <br>
    <div style="padding: 10px">
      <input formControlName="employee_id" type="text" placeholder="Empleado" pInputText>
    </div>
    <br>
    <div style="padding: 10px">
      <input formControlName="order_number" type="text" placeholder="Número de Pedido" pInputText>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="Guardar" (click)="save()" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
