<div style="padding: 30px">
  <p-table [value]="orders" selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="fill_form_order()">
    <ng-template pTemplate="caption">
      <p-button icon="pi pi-plus" (click)="show_form_orders = true"></p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="vendor.vendor_name">Cliente <p-sortIcon field="vendor.vendor_name"></p-sortIcon></th>
        <th pSortableColumn="employee.employee_name">Empleado <p-sortIcon field="employee.employee_name"></p-sortIcon></th>
        <th pSortableColumn="order_number">Número de Pedido <p-sortIcon field="order_number"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr [pSelectableRow]="order">
        <td><i pTooltip="{{order.order_enabled?'Activo':'Inactivo'}}" [style]="{'color':order.order_enabled?'green':'red'}" class="pi pi-circle-fill"></i> </td>
        <td>{{order.id}}</td>
        <td>{{order.vendor.vendor_name}}</td>
        <td>{{order.employee.employee_name}}</td>
        <td>{{order.order_number}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Datos del Pedido" [(visible)]="show_form_orders" [position]="'top'" [modal]="true">
  <form style="text-align: center" [formGroup]="form_order">
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="vendors" formControlName="vendor_id" optionLabel="vendor_name" optionValue="id"></p-dropdown>
    </div>
    <br>
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="employees" formControlName="employee_id" optionLabel="employee_name" optionValue="id"></p-dropdown>
    </div>
    <br>
    <div style="padding: 10px">
      <input formControlName="order_number" type="text" placeholder="Número de Pedido" pInputText>
    </div>
    <br>
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="options" formControlName="order_enabled" optionLabel="label" optionValue="value"></p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="Cancelar" (click)="clean_form()" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" label="Guardar" (click)="save()" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
