*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  background-color: #eff2f5;
}

.container{
  max-width: 900px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo{
  margin-top: 50px;
  width: 200px;
  border-radius: 15px;
}

.col1{
  width: 500px;
  padding-right: 32px;
}

.col1 p{
  font-size: 15px;
  color: #000000;
}

.col2{
  width: 400px;
}

form{
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 12px;
  text-align: center;
  margin-top: 20px;
}

input{
  display: block;
  width: 100%;
  padding: 16px;
  margin: 6px 0;
  border: 1px solid #dddfe2;
  border-radius: 12px;
}

.login{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #ff9859;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.login span {
  position: relative;
  z-index: 2;
  transition: .3s ease all;
}

.login::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 80px);
  border-bottom: 80px solid #6528ff;
  border-right: 80px solid transparent;
  transition: .4s ease-in-out all;
}

.login:hover::after {
  left: 0;
}

.forgot{
  text-decoration: none;
  color: #000000;
}

hr {
  margin: 16px 0;
  border: 1px solid #ddd;
}

.col2 p{
  font-size: 14px;
  text-align: center;
  margin-top: 28px;
  color: #000000;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .container{
    flex-direction: column;
    margin: 0 auto;
  }
  .col1{
    margin: auto;
    text-align: center;
    width: 300px;
    padding-right: 0;
  }
  .col1 p{
    font-size: 22px;
  }
  .col2{
    margin: auto;
  }
  form{
    margin-top: 50px;
  }
}
