<!DOCTYPE html>
<html lang = "es">
<head>
  <title>Ferretería FerreTIC</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="container">
    <div class="col1">
      <img src="assets/logo.png" alt="" class="logo">
      <p>Bienvenido al panel para usuarios de Ferretería FerreTIC</p>
    </div>
    <div class="col2">
      <form [formGroup]="form_login">
        <div>
          <input formControlName="username" type="text" placeholder="Nombre de Usuario" pInputText>
        </div>
        <br>
        <div>
          <input formControlName="password" type="text" placeholder="Contraseña" pInputText>
        </div>
        <br>
        <button class="login" pButton (click)="get_token()"> <span>Iniciar Sesión</span></button>
        <a href="#" class="forgot">Olvidaste tu contraseña?</a>
      </form>
      <p><strong>Gestiona compras a proveedores y ventas a clientes</strong></p>
    </div>
  </div>
</body>
</html>







