<div style="padding: 30px; width: 95%; margin: 20px auto">
  <p-table #dt [value]="products" selectionMode="single"
           [(selection)]="selectedProduct"
           (onRowSelect)="fill_form_product()"
           [rows]="5"
           [tableStyle]="{'min-width': '50rem'}"
           [paginator]="true"
           [globalFilterFields]="['product_name','product_description','product_price','product_stock']"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3 style="width:100%; text-align:center;">Gestión Productos</h3>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                 placeholder="Global Search"/>
                </span>
        <p-button [style]="{'margin-left': '10px'}" icon="pi pi-plus" label="Nuevo Producto" (click)="show_form_products = true"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="id">ID
          <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="product_name">Nombre
          <p-sortIcon field="product_name"></p-sortIcon></th>
        <th pSortableColumn="product_description">Descripción
          <p-sortIcon field="product_description"></p-sortIcon>/th>
        <th pSortableColumn="product_price">Precio
        <p-sortIcon field="product_price"></p-sortIcon></th>
        <th pSortableColumn="product_stock">Stock
          <p-sortIcon field="product_stock"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td><i pTooltip="{{product.product_enabled?'Activo':'Inactivo'}}" [style]="{'color':product.product_enabled?'green':'red'}" class="pi pi-circle-fill"></i> </td>
        <td>{{product.id}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.product_description}}</td>
        <td>{{product.product_price}}</td>
        <td>{{product.product_stock}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Datos del Producto" [(visible)]="show_form_products" [position]="'top'" [modal]="true">
  <form style="text-align: center" [formGroup]="form_product">
    <div style="padding: 10px">
      <input formControlName="product_name" type="text" placeholder="Nombre del Producto" pInputText>
    </div>
    <br>
    <div style="padding: 10px">
      <textarea formControlName="product_description" placeholder="Descripción" pInputTextarea></textarea>
    </div>
    <br>
    <div class="field col-12 md:col-3" style="padding: 15px">
      <label style="padding: 10px">Precio</label>
      <p-inputNumber formControlName="product_price" [(ngModel)]="price" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="5000"
                     decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="USD">
      </p-inputNumber>
      </div>
    <br>
    <div class="field col-12 md:col-3">
      <label style="display: block">Cantidad</label>
      <p-inputNumber formControlName="product_stock" [(ngModel)]="quantity" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                     decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
    </div>
    <br>
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="options" formControlName="product_enabled" optionLabel="label" optionValue="value" [style]="{'width':'85%'}"></p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton label="X Cancelar" (click)="clean_form()" class="p-button-danger"></button>
    <button pButton icon="pi pi-check" label="Guardar" (click)="save()" class="p-button-success"></button>
  </ng-template>
</p-dialog>
