<div style="padding: 30px">
  <p-table [value]="invoices" selectionMode="single" [(selection)]="selectedInvoice" (onRowSelect)="fill_form_invoice()">
    <ng-template pTemplate="caption">
      <p-button icon="pi pi-plus" (click)="show_form_invoices = true"></p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="client.client_name">Cliente <p-sortIcon field="client.client_name"></p-sortIcon></th>
        <th pSortableColumn="employee.employee_name">Empleado <p-sortIcon field="employee.employee_name"></p-sortIcon></th>
        <th pSortableColumn="invoice_number">Número de Factura <p-sortIcon field="invoice_number"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
      <tr [pSelectableRow]="invoice">
        <td><i pTooltip="{{invoice.invoice_enabled?'Activo':'Inactivo'}}" [style]="{'color':invoice.invoice_enabled?'green':'red'}" class="pi pi-circle-fill"></i> </td>
        <td>{{invoice.id}}</td>
        <td>{{invoice.client.client_name}}</td>
        <td>{{invoice.employee.employee_name}}</td>
        <td>{{invoice.invoice_number}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Datos de la Factura" [(visible)]="show_form_invoices" [position]="'top'" [modal]="true">
  <form style="text-align: center" [formGroup]="form_invoice">
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="clients" formControlName="client_id" optionLabel="client_name" optionValue="id"></p-dropdown>
    </div>
    <br>
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="employees" formControlName="employee_id" optionLabel="employee_name" optionValue="id"></p-dropdown>
    </div>
    <br>
    <div style="padding: 10px">
      <input formControlName="invoice_number" type="text" placeholder="Número de Factura" pInputText>
    </div>
    <br>
    <div style="padding: 10px">
      <p-dropdown appendTo="body" [options]="options" formControlName="invoice_enabled" optionLabel="label" optionValue="value"></p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="Cancelar" (click)="clean_form()" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" label="Guardar" (click)="save()" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
