<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="home.component.css">
  <title>Pagina web basica</title>

</head>
<body>



<header class="content header">
  <h2 class="title">FERRETERÍA FERRETIC</h2>
  <p>
    Bienvenid@ a nuestra AppWeb donde podrás trabajar de manera óptima y organizada la ejecución de tus labores.
  </p>
</header>

<section class="content sau">

  <h2 class="title">Servicios</h2>
  <p>A través de esta app podrás realizar actividades relacionadas con la gestión de empleados, proveedores,
    clientes y productos. Además, administrar la compras de productos para el inventario de la ferretería, y
    posterior venta de productos al cliente final.</p>

  <div class="box-container">

    <div class="box">
      <i class="fab fa-angular"></i>
      <h3>Lorem</h3>
      <p>labore molestias consectetur veniam</p>
    </div>
    <div class="box">
      <i class="fab fa-apple"></i>
      <h3>Lorem</h3>
      <p>labore molestias consectetur veniam</p>
    </div>
    <div class="box">
      <i class="fab fa-android"></i>
      <h3>Lorem</h3>
      <p>labore molestias consectetur veniam</p>
    </div>

  </div>

</section>

<section class="content about">

  <h2 class="title">Nosotros</h2>
  <p>Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Ut soluta similique
    quia reprehenderit eligendi aliquam. Sit
    odio impedit quibusdam. Velit corporis,
    optio debitis quidem ex ipsam rerum dolorem autem sequi.
  </p>

  <a href="#" class="btn">Saber mas</a>

</section>

<section class="content price">

  <article class="contain">
    <h2 class="title">Precio</h2>
    <p>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ut soluta similique
      quia reprehenderit eligendi aliquam. Sit
      odio impedit quibusdam. Velit corporis,
      optio debitis quidem ex ipsam rerum dolorem autem sequi.
    </p>

    <a href="#" class="btn">Saber precio</a>

  </article>

</section>

<section class="content contact">
  <h2 class="title">Contacto</h2>
  <p>48481548</p>
</section>

</body>
</html>
