<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="home.component.css">
  <title>Ferretería FERRETIC</title>

</head>
<body>



<header class="content header">
  <h2 class="title">FERRETERÍA FERRETIC</h2>
  <p>
    Bienvenid@ a nuestra AppWeb donde podrás trabajar de manera óptima y organizada la ejecución de tus labores.
  </p>
</header>

<section class="content sau">
  <p></p>
  <p></p>
  <p></p>
  <h2 class="title">Servicios</h2>
  <p>A través de esta app podrás realizar actividades relacionadas con la gestión de empleados, proveedores,
    clientes y productos. Además, administrar la compras de productos para el inventario de la ferretería, y
    posterior venta de productos al cliente final.</p>

  <div class="box-container">

    <div class="box">
      <i class="pi pi-bolt"></i>
      <h3>Rápida</h3>
      <p>Trabaja a la velocidad del Rayo McQueen</p>
    </div>
    <div class="box">
      <i class="pi pi-shield"></i>
      <h3>Segura</h3>
      <p>Requiere autenticación</p>
    </div>
    <div class="box">
      <i class="pi pi-mobile"></i>
      <h3>Multidispositivo</h3>
      <p>Compatible con cualquier dispositivo</p>
    </div>

  </div>

</section>

<section class="content about">

  <h2 class="title">Desarrolladores</h2>
  <p>JUAN SEBASTIAN GARCIA PAEZ  -  FIDEL MERCADO</p>
  <p>NORBEY MURILLO MESA  -  JUAN FELIPE TORO  -  NANCY DEL CARMEN RODRIGUEZ</p>

</section>

<section class="content info">

  <article class="contain">
    <!--<h2 class="title">Precio</h2>-->
    <p>Esta es una aplicación web desarrollada como proyecto académico para el diplomado
      de Desarrollo Web a través del programa MisiónTIC 2022.
    </p>


  </article>

</section>

<section class="content contact">
  <!--<h2 class="title">Contacto</h2>-->
  <p>® Derechos Reservados</p>
</section>

</body>
</html>
