*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  text-align: center;
  font-family: sans-serif;
  text-shadow: rgba(15, 15, 28, 0.76) 1px 1px 1px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #0f0f1c;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  margin-right: 10px;
}

.logo {
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: #0f0f1c;
}

.navbar a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: #0f0f1c;
}

.navbar a:hover {
  background: #242a31;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60vh !important;
  background: url(../../assets/img/header.jpg) no-repeat center;
  background-size: cover;
}

.title {
  margin-bottom: 40px;
  font-size: 75px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-shadow: #0f0f1c;
}

p {
  margin-bottom: 40px;
  font-size: 22px;
  color: #fff;
  padding: 0 100px;
  text-shadow: rgba(15, 15, 28, 0.76) 1px 1px 1px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #ff9859;
  color: #fff;
  text-decoration: none;
  background: #ff9859;
  border-radius: 5px;
}

.btn:hover {
  background: none;

}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}


.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: #1d1d2a
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

}

.box-container .box {
  height: 11rem;
  width: 17rem;
  background: #1d1d2d;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .3rem 5rem rgba(3, 3, 3, 0.5);
  margin: 2rem;
}

.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #ff9859;
  font-size: 2rem;
  margin: 1rem 0;

}

.box-container .box h3 {
  font-size: 20px;
  color: #ff9859;

}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

.about {
  background: #12131e;
}

.info {
  background: url(../../assets/img/costos.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}


.contact {
  padding-top: 20px;
  background: #181826;
  padding-bottom: 0;
}


@media (max-width: 768px) {

  .title {
    margin-bottom: 0;
    font-size: 40px;
  }

  .sau {
    height: 100vh;
  }

  .navbar {
    display: none;
  }


}
